version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - yamatt
    labels:
      - dependencies
      - javascript

  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - yamatt
    labels:
      - dependencies
      - javascript

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - yamatt
    labels:
      - dependencies
      - javascript
